<div class="side__bar__container hidden lg:block w-[350px] fixed left-0 top-[80px] h-[100vh] bg-white shadow-sm p-5">
  <div class="side__bar__wrapper w-[95%] m-auto">
    <div class="nav__top mt-[2vh]">
      <div class="pText font-bold p-2 px-5 hover:bg-[#3C3CC8] hover:text-white rounded cursor-pointer" routerLink="/welcome">Start Here</div>
      <div class="pText font-bold p-2 px-5 hover:bg-[#3C3CC8] hover:text-white rounded cursor-pointer" routerLink="/announcement">Announcements</div>
    </div>
    <h4 class=" p-1 px-5 pb-2 mt-5 text-[1rem] text-[#3C3CC8]">Cohorts</h4>
    <div class="nav__bottom" *ngFor="let data of [1,2,3,4]">
      <div class="link p-1 px-5 py-2 hover:bg-[#3C3CC8] hover:text-white rounded flex items-center gap-4" >
        <div class="h-[15px] w-[15px] rounded-sm" [ngStyle]="{'background': getRandomColor()}"></div>
        <div class="pSmall">An item that Represents</div>
      </div>


    </div>
    <h4 class=" p-1 px-5 pb-2 mt-5 text-[1rem] text-[#3C3CC8]">Public Forum</h4>
    <div class="nav__bottom" *ngFor="let data of [1,2,3,4]">
      <div class="link p-1 px-5 py-2 hover:bg-[#3C3CC8] hover:text-white rounded flex items-center gap-4" >
        <div class="h-[15px] w-[15px] rounded-sm" [ngStyle]="{'background': color}"></div>
        <div class="pSmall">An item that Represents</div>
      </div>

    </div>
  </div>

</div>
