<div class="announcement__container">
  <div class="announcement__wrapper">
    <div class="side__bar"></div>
    <div class="wrapper__right">
      <div class="wrap__top">
        <div class="top__wrapper bg-announcementBg bg-cover rounded p-4 h-[24vh] flex items-center mb-10">
          <div class="w-[90%] m-auto flex items-center gap-4 text-[#E5E5E5]">

            <img src="../../../assets/images/announcment-icon.png" class="w-[80px] object-contain" />
          <div class="wrapper__content space-y-2">
            <h3>Get the Latest News</h3>
            <div class="pSmall">
              Stay up-to-date with all the exciting news and events happening at
              Mirror! We'll keep you informed about new courses and important
              updates. To make sure you don't miss a thing, we recommend turning
              on your notifications while you're here.
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="wrap__bottom">
        <div class="card p-10 bg-white rounded">
          <h4>📣 Exciting Announcement for Young Adults! 🌟</h4>
          <div class="user__comment flex items-center gap-4 py-6">
            <div class="image">
              <img src="../../../assets/images/community-item-img.png"/>
            </div>
            <div class="name">
              <h5>Shola Adeleke</h5>
              <div class="bottom pSmall">
                Super Admin | <span>12 minutes ago</span>
              </div>
            </div>
          </div>
          <div class="pText">
            Unlock Your Full Potential with Our Customized Mentoring and
            Discipleship Program! Are you ready to embark on a transformative
            journey of personal growth, purpose fulfillment, and nurturing
            healthy relationships? Look no further! Our comprehensive mentoring
            and discipleship program is designed to guide you towards maximizing
            your potential in every aspect of life. We understand that each
            person is unique, with specific aspirations and challenges. That's
            why our program is tailored to meet your individual needs, providing
            you with personalized guidance and support every step of the way.
            Whether you desire personal development, spiritual growth, or
            enhancing your relational skills, we've got you covered. Through our
            program, you'll gain access to a team of experienced mentors who are
            passionate about seeing you flourish. They will walk alongside you,
            offering valuable insights, wisdom, and accountability to help you
            navigate life's ups and downs with confidence.
          </div>

          <div class="likes mt-8">
            <div class="likes__top">
              <small>Liked by Deji and 3 others</small>
            </div>
            <div class="likes__bottom mb-8 mt-8 flex items-center justify-between flex-wrap space-y-4">
              <div class="bottom__left">
                <div class="likes__left flex items-center gap-10">
                  <div class="left__item flex items-center gap-2">
                    <i class="pi pi-thumbs-up" style="font-size: 1rem"></i
                    ><small>65 likes</small>
                  </div>
                  <div class="left__item flex items-center gap-2">
                    <i class="pi pi-comment" style="font-size: 1rem"></i
                    ><small>22 replies</small>
                  </div>
                </div>
              </div>
              <div class="bottom__right flex items-center gap-2"><i class="pi pi-comments" style="font-size: 1rem"></i><small>Comment</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
