/* .welcome__wrapper{
  width: 80vw;
  margin-inline: auto
}

.welcome__container{
  margin-top: 50px;
}

.wrap__top img{
  border-radius: 5px;
}

.side__bar{
  width: 450px;
  background-color: red;
}
.pText{
  color: #495057;
}

h4{
  margin: 20px 0;
  padding-bottom: var(--pB);
  border-bottom: 1px solid var(--gray);
}

.wrap__bottom{
  width: 100%;
}

.card{
width: 1232px;
height: 400px;
background-color: white;
border: 0.5px solid #D8E3EB;
border-radius: 5px;
box-shadow: var(--box-shadow);
padding: var(--cardPadding);
} */

