<div class="welcome__container ">
  <div class="welcome__wrapper">
    <div class="side__bar"></div>
    <div class="wrapper__right">
      <div class="wrap__top">
        <img src="../../../assets/images/welcome-banner.png" alt="" />
      </div>
      <div class="wrap__bottom">
        <div class="card">
          <h4>We’re Glad to Welcome You To Your Journey To Wellness</h4>
          <div class="pText">
            Unlock Your Full Potential with Our Customized Mentoring and
            Discipleship Program! Are you ready to embark on a transformative
            journey of personal growth, purpose fulfillment, and nurturing
            healthy relationships? Look no further! Our comprehensive mentoring
            and discipleship program is designed to guide you towards maximizing
            your potential in every aspect of life. We understand that each
            person is unique, with specific aspirations and challenges. That's
            why our program is tailored to meet your individual needs, providing
            you with personalized guidance and support every step of the way.
            Whether you desire personal development, spiritual growth, or
            enhancing your relational skills, we've got you covered. Through our
            program, you'll gain access to a team of experienced mentors who are
            passionate about seeing you flourish. They will walk alongside you,
            offering valuable insights, wisdom, and accountability to help you
            navigate life's ups and downs with confidence.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
