<div class="home">
  <div class="hero__container">
    <div class="hero__wrapper">
      <h1>Welcome to the Mirror Community!</h1>
      <div class="pText">Connect, learn, and support each other in a space built for you. Join discussions,
        and become a respected member. </div>
        <h3>Let's get started!</h3>

    </div>
  </div>

  <div class="card">
    <div class="top">
      <div class="top__left">
        <h2>All community Activity</h2>
      </div>
      <div class="top__right">
        <button>Start a Conversation</button>
      </div>
    </div>
    <p-tabView>
        <p-tabPanel header="Featured">
          <div class="community__container">
            <div class="community__wrapper">
              <h2>An item That Represents You</h2>
              <div class="pText">
                Through the IESSP program, our dedicated team of mentors and life coaches
                will walk alongside individuals, offering guidance, support, and
                encouragement every step of the way. We provide a safe and nurturing
                environment for individuals to explore their potential, overcome
                challenges, set meaningful goals, and develop the skills and mindset
                necessary to thrive in all aspects of life. At The Mirror, we are
                committed to empowering individuals to lead purposeful, fulfilling lives.
                The IESSP program is designed to help individuals unlock their true
                potential, embrace their unique identities, excel in their education and
                career, deepen their spirituality, and build meaningful connections within
                a supportive community. Together, we can embark on a transformative
                journey of personal growth, healing, and self-discovery.
              </div>

              <div class="community__bottom">
                <div class="community__left">

                  <div class="item__left">
                    <img src="../../../assets/images/community-item-img.png" alt="logo">
                  </div>
                  <div class="item__right">
                    <div class="pSmall">An item That Represents You</div>
                    <small>12 minutes ago</small>
                  </div>
                  </div>

                  <div class="community__right">
                    <div class="right__item">
                      <i class="pi pi-thumbs-up" style="font-size: 1rem"></i><small>65 likes</small>
                    </div>
                    <div class="left__item">
                      <i class="pi pi-comment" style="font-size: 1rem"></i><small>22 replies</small>

                    </div>
                  </div>
              </div>

            </div>

            </div>
        </p-tabPanel>
        <p-tabPanel header="Discussion">
          <div class="community__container">
            <div class="community__wrapper">
              <h2>An item That Represents You</h2>
              <div class="pText">
                Through the IESSP program, our dedicated team of mentors and life coaches
                will walk alongside individuals, offering guidance, support, and
                encouragement every step of the way. We provide a safe and nurturing
                environment for individuals to explore their potential, overcome
                challenges, set meaningful goals, and develop the skills and mindset
                necessary to thrive in all aspects of life. At The Mirror, we are
                committed to empowering individuals to lead purposeful, fulfilling lives.
                The IESSP program is designed to help individuals unlock their true
                potential, embrace their unique identities, excel in their education and
                career, deepen their spirituality, and build meaningful connections within
                a supportive community. Together, we can embark on a transformative
                journey of personal growth, healing, and self-discovery.
              </div>

              <div class="community__bottom">
                <div class="community__left">

                  <div class="item__left">
                    <img src="../../../assets/images/community-item-img.png" alt="logo">
                  </div>
                  <div class="item__right">
                    <div class="pSmall">An item That Represents You</div>
                    <small>12 minutes ago</small>
                  </div>
                  </div>

                  <div class="community__right">
                    <div class="right__item">
                      <i class="pi pi-thumbs-up" style="font-size: 1rem"></i><small>65 likes</small>
                    </div>
                    <div class="left__item">
                      <i class="pi pi-comment" style="font-size: 1rem"></i><small>22 replies</small>

                    </div>
                  </div>
              </div>

            </div>

            </div>
        </p-tabPanel>

    </p-tabView>
  </div>
</div>











