@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: none;
    overflow-y: none;
}
@import "primeicons/primeicons.css";

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(./assets/font/PlusJakartaSans-VariableFont_wght.ttf);
  font-display: swap;
}

:root{
  --background: ##F9F9F9;
  --cardBg: #fff;
  --gray: #EBEBEB;
  --pry-blue: #3C3CC8;
  --pry-black:  #111A0F;
  --cardPadding: 50px;
  --pT: 20px;
  --pB: 20px;
  --pL: 20px;
  --pR: 20px;
  --mT: 20px;
  --mB: 20px;
  --mL: 20px;
  --mR: 20px;
  --border-radius: 5px;
  --box-shadow: 0px 18.5px 39px rgba(117, 121, 159, 0.06);
}


body{
  font-family: 'Plus Jakarta Sans';
  background-color: #F9F9F9;
}

h1{
  font-size: 2.625rem;
  font-weight: 700;
}


h2{
  font-size: 1.75rem;
  font-weight: 700;
}


h3{
  font-size: 1.5rem;
  font-weight: 700;
}

h4{
  font-size: 1.125rem;
  font-weight: 700;
}

h5{
  font-size: 0.9375rem;
  font-weight: 700;
}

.pText{
  font-size: 1rem;
  line-height: 1.8;
}

.pSmall{
  font-size: 0.875rem;
  line-height: 1.8;
  /* text-align: justify; */
  /* text-justify: inter-word; */
}


.toast-success {
  background-color: #01cf98 !important;
  border: 0.5px solid white;
  box-shadow: none !important;
}

.toast-error {
  background-color: red !important;
  border: 0.2px solid white;
  box-shadow: none !important;
}
